body {
	background-color: White;
	border: 2px solid gray;
	border-radius: 16px;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	min-width: 256px;
	padding-top: 8px;
	padding-bottom: 520px;
	padding-left: 24px;
	padding-right: 24px;
}
html {
	background: radial-gradient(circle, White, SkyBlue, SkyBlue);
	background-size: 8px 8px;
}
class {
	position:absolute;
	top:0;
	right:0;
}
.dow {
 position: fixed;
left: 750px;
top: 80px;
 
}